.itemContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 31px;
}

.imageContainer {
    width: 485px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-radius: var(--border-radius);
}

.mainImage {
    border-radius: var(--border-radius);
}

.imageListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border-radius: var(--border-radius);
}

.imageItem {
    border-radius: var(--border-radius);
}

.itemDetailContainer {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--title-item);
}

.itemParamsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.itemParamsWrapper {
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
}

.paramTitle {
    width: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--nonactive-color);
    align-content: center;
}

.paramValue {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--title-item);
}

.sizes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}

.sizeItem {
    padding: 4px 8px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--title-item);
}

.currentSize {
    background-color: var(--btn-color);
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}

.itemFooter {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: var(--nonactive-color);
}

.actions {
    margin: 20px 0 0 0;
    display: flex;
    gap: 10px
}