.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuFooter {
    height: 40px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--nonactive-color);
    text-decoration: none;
}

.menuWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menuItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--nonactive-color);
    text-decoration: none;
}

.menuItem:hover, .active, .link:hover {
    color: var(--active-color);
}