.promotion {
    position: relative;
    padding: 0 0 60px 0;
}

.title1 {
    padding: 5px 0 14px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #616E74;
    text-transform: uppercase;
    opacity: 0.1;
}

.title2 {
    padding: 8px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #616E74;
    text-transform: uppercase;
    opacity: 0.8;
}

.product_name {
    width: 480px;
    padding: 8px 0 24px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: var(--title-item);
    text-transform: uppercase;
}

.btn {

}

.wrapper_image {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.image {
    width: 462px;
}


