.products {
    margin-top: 20px;
}

.cards {
    width: 100%;
}

.wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--card-bg-color);
    min-width: 0;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageWrapper {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.desc {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--btn-color);
}

.discount {
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--nonactive-color);
}

.countPeople {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: var(--nonactive-color);
    text-align: right;
}

.priceWrapper {
    display: flex;
    align-items: center;
}
