
.cart-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart__footer {
    margin: 10px 0 0 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item {
    padding: 12px 16px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.product-item__image {
    width: 100px;
}

.product-item__desc {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.product-item__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--title-color);
}

.product-item__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: var(--text-color);
}

.product-item__price, .product-item__total-price {
    flex: 1;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.product-item__price {
    color: var(--title-color);
    padding: 0 50px 0 0;
}

.product-item__total-price {
    color: var(--btn-color);
}

.product-item__counter {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_minus, .btn_plus {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    padding: 0;
    border: none;
    border-radius: var(--border-radius);
    color: var(--title-color);
    line-height: 1;
    text-align: center;
}

.count {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--nonactive-color);
}

.btn_minus {
    background-color: var(--nonactive-color);
}

.btn_plus {
    background-color: var(--btn-color);
}

.product-item__remove {;
    padding-left: 30px;
}

.cart__total-price-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.cart__total-price {
    color: var(--title-color);
}

.cart__checkout-btn {
    font-family: 'Montserrat', sans-serif;
    border-radius: var(--border-radius);
    background-color: var(--btn-color);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: var(--title-color);
    line-height: 1;
    text-align: center;
}