:root {
    --bg-color: #212123;
    --container-color: #191919;
    --btn-color: #6C3EB8;
    --active-color: #8B57C6;
    --title-color: white;
    --title-item: #F6F6F7;
    --text-color: #B8B8B8;
    --nonactive-color: #576067;
    --border-radius: 6px;
    --card-bg-color: #212123;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: var(--title-color);
}

h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: var(--title-color);
}

h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    color: var(--title-color);
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: var(--text-color);
}

h5 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    color: var(--text-color);
}

.uppercase {
    text-transform: uppercase;
}

.center {
    width: 100%;
    text-align: center;
}

body {
    padding: 20px 0 24px 0;
    background-color: var(--bg-color);
}

.container {
    max-width: 1274px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.content {
    margin-top: 21px;
}


.block {
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
}

.left {
    width: 100%;
    max-width: 304px;
}

.right {
    width: 100%;
    max-width: 950px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__footer {
    height: 40px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--nonactive-color);
    align-items: center;
}

.menu-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--nonactive-color);
    text-decoration: none;
}

.menu-item:hover, .active {
    color: var(--active-color);
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
}
